# coding: utf-8

"""
    Xenia Python Client Library

    Python Client Library to interact with the Xenia API.  # noqa: E501

    The version of the OpenAPI document: v1.1
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from xenia_python_client_library.api_client import ApiClient
from xenia_python_client_library.exceptions import (
    ApiTypeError,
    ApiValueError
)


class CoreApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def configurations_list(self, **kwargs):  # noqa: E501
        """List available connector configurations  # noqa: E501

         ### Description Get the details of available connectors. The configuration parameters for both the connectors and their corresponding credentials are returned with the required names and data types. These parameters must be provided when creating credentials and connectors.  If a new connector is supported, the necessary configuration parameters can be accessed with this method.  ### Response Structure Details of the available connectors and their credentials  - `connector`: The name of the connector - `connector_type`: The type of the connector. It can be either structured or blob depending on what type of data is supported by the connector. - `connector_configuration`: A dictionary with the following keys:     - `parameter`: The name of the parameter necessary for the connector configuration     - `name`: descriptive name of the parameter     - `description`: a description of the parameter     - `input_field`: the HTML input field type for the UI     - `default`: the default value for the parameter     - `protected`: a boolean field to indicate if the parameter should be kept as hidden.     - `regex`: the regex that is used to validate the parameter - `credentials_configuration`: A dictionary with the following keys:     - `parameter`: The name of the parameter necessary for the credentials configuration     - `name`: descriptive name of the parameter     - `description`: a description of the parameter     - `input_field`: the HTML input field type for the UI     - `default`: the default value for the parameter     - `protected`: a boolean field to indicate if the parameter should be kept as hidden.     - `regex`: the regex that is used to validate the parameter   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.configurations_list(async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[ConfigurationList]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.configurations_list_with_http_info(**kwargs)  # noqa: E501

    def configurations_list_with_http_info(self, **kwargs):  # noqa: E501
        """List available connector configurations  # noqa: E501

         ### Description Get the details of available connectors. The configuration parameters for both the connectors and their corresponding credentials are returned with the required names and data types. These parameters must be provided when creating credentials and connectors.  If a new connector is supported, the necessary configuration parameters can be accessed with this method.  ### Response Structure Details of the available connectors and their credentials  - `connector`: The name of the connector - `connector_type`: The type of the connector. It can be either structured or blob depending on what type of data is supported by the connector. - `connector_configuration`: A dictionary with the following keys:     - `parameter`: The name of the parameter necessary for the connector configuration     - `name`: descriptive name of the parameter     - `description`: a description of the parameter     - `input_field`: the HTML input field type for the UI     - `default`: the default value for the parameter     - `protected`: a boolean field to indicate if the parameter should be kept as hidden.     - `regex`: the regex that is used to validate the parameter - `credentials_configuration`: A dictionary with the following keys:     - `parameter`: The name of the parameter necessary for the credentials configuration     - `name`: descriptive name of the parameter     - `description`: a description of the parameter     - `input_field`: the HTML input field type for the UI     - `default`: the default value for the parameter     - `protected`: a boolean field to indicate if the parameter should be kept as hidden.     - `regex`: the regex that is used to validate the parameter   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.configurations_list_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[ConfigurationList], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method configurations_list" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/config/connectors', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ConfigurationList]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connectors_create(self, project_name, data, **kwargs):  # noqa: E501
        """Create a connector  # noqa: E501

         ### Description Create a connector by defining its necessary configuration parameters. Connectors use a reference to credentials which will be used in authentication.  The type of a connector can be either a blob or structured. This type is inferred from the given type field. For example, an s3 connector is of type blob while a postgresql connector is structured.  ### Required Parameters - `name`: Name of the credentials. It is unique within a project. - `type`: Type of the connector. It should be one of the supported connectors such as s3, postgresql and gcs. - `credentials`: The name of referenced credentials - `configuration`: A dictionary which should contain the fields necessary for the given type  ### Optional Parameters - `input_fields`: A list of connector fields with name and data_type. For example, for postgresql type of connector, these fields correspond to the columns in a table. In case of blob connectors, the input_fields should be omitted or given as an empty list. For structured connectors, they must be provided.  #### Request Examples A postgresql connector ``` {   \"name\": \"postgresql-connector\",   \"type\": \"postgresql\",   \"credentials\": \"postgresql-credentials\",   \"configuration\": {     \"database\": \"database-1\",     \"schema\": \"public\",     \"table\": \"table-1\"   },   \"input_fields\": [     {       \"name\": \"field-1\",       \"data_type\": \"int\"     },      {       \"name\": \"field-2\",       \"data_type\": \"double\"     }   ] } ```  ### Response Structure Details of the created connector  - `id`:Unique identifier for the connector (UUID) - `name`:Name of the connector - `type`:Type of the connector - `input_type`:Type of the connector according to type field. It can be either structured or blob. - `project`:Project name in which the connector is created - `credentials`:The name of referenced credentials - `configuration`:The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True. - `input_fields`:A list of connector fields with name and data_type  #### Response Examples ``` {   \"id\": \"e0342249-853c-4879-bd08-5cd1af572d7e\",   \"name\": \"postgresql-connector\",   \"type\": \"postgresql\",   \"input_type\": \"structured\",   \"project\": \"project-1\",   \"credentials\": \"postgresql-credentials\",   \"configuration\": {     \"database\": \"database-1\",     \"schema\": \"public\",     \"table\": \"table-1\"   },   \"input_fields\": [     {       \"name\": \"field-1\",       \"data_type\": \"int\"     },      {       \"name\": \"field-2\",       \"data_type\": \"double\"     }   ] } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_create(project_name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param ConnectorCreate data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: ConnectorList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.connectors_create_with_http_info(project_name, data, **kwargs)  # noqa: E501

    def connectors_create_with_http_info(self, project_name, data, **kwargs):  # noqa: E501
        """Create a connector  # noqa: E501

         ### Description Create a connector by defining its necessary configuration parameters. Connectors use a reference to credentials which will be used in authentication.  The type of a connector can be either a blob or structured. This type is inferred from the given type field. For example, an s3 connector is of type blob while a postgresql connector is structured.  ### Required Parameters - `name`: Name of the credentials. It is unique within a project. - `type`: Type of the connector. It should be one of the supported connectors such as s3, postgresql and gcs. - `credentials`: The name of referenced credentials - `configuration`: A dictionary which should contain the fields necessary for the given type  ### Optional Parameters - `input_fields`: A list of connector fields with name and data_type. For example, for postgresql type of connector, these fields correspond to the columns in a table. In case of blob connectors, the input_fields should be omitted or given as an empty list. For structured connectors, they must be provided.  #### Request Examples A postgresql connector ``` {   \"name\": \"postgresql-connector\",   \"type\": \"postgresql\",   \"credentials\": \"postgresql-credentials\",   \"configuration\": {     \"database\": \"database-1\",     \"schema\": \"public\",     \"table\": \"table-1\"   },   \"input_fields\": [     {       \"name\": \"field-1\",       \"data_type\": \"int\"     },      {       \"name\": \"field-2\",       \"data_type\": \"double\"     }   ] } ```  ### Response Structure Details of the created connector  - `id`:Unique identifier for the connector (UUID) - `name`:Name of the connector - `type`:Type of the connector - `input_type`:Type of the connector according to type field. It can be either structured or blob. - `project`:Project name in which the connector is created - `credentials`:The name of referenced credentials - `configuration`:The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True. - `input_fields`:A list of connector fields with name and data_type  #### Response Examples ``` {   \"id\": \"e0342249-853c-4879-bd08-5cd1af572d7e\",   \"name\": \"postgresql-connector\",   \"type\": \"postgresql\",   \"input_type\": \"structured\",   \"project\": \"project-1\",   \"credentials\": \"postgresql-credentials\",   \"configuration\": {     \"database\": \"database-1\",     \"schema\": \"public\",     \"table\": \"table-1\"   },   \"input_fields\": [     {       \"name\": \"field-1\",       \"data_type\": \"int\"     },      {       \"name\": \"field-2\",       \"data_type\": \"double\"     }   ] } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_create_with_http_info(project_name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param ConnectorCreate data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(ConnectorList, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name', 'data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connectors_create" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `connectors_create`")  # noqa: E501
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `connectors_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/connectors', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectorList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connectors_delete(self, project_name, connector_name, **kwargs):  # noqa: E501
        """Delete connectors  # noqa: E501

        Delete a connector in a project.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_delete(project_name, connector_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str connector_name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.connectors_delete_with_http_info(project_name, connector_name, **kwargs)  # noqa: E501

    def connectors_delete_with_http_info(self, project_name, connector_name, **kwargs):  # noqa: E501
        """Delete connectors  # noqa: E501

        Delete a connector in a project.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_delete_with_http_info(project_name, connector_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str connector_name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name', 'connector_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connectors_delete" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `connectors_delete`")  # noqa: E501
        # verify the required parameter 'connector_name' is set
        if self.api_client.client_side_validation and ('connector_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['connector_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `connector_name` when calling `connectors_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501
        if 'connector_name' in local_var_params:
            path_params['connector_name'] = local_var_params['connector_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/connectors/{connector_name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connectors_get(self, project_name, connector_name, **kwargs):  # noqa: E501
        """Get connectors  # noqa: E501

         ### Description Get the details of a single connector  ### Response Structure Details of the connector - `id`:  Unique identifier for the connector (UUID) - `name`:  Name of the connector - `type`:  Type of the connector - `input_type`:  Type of the connector according to type field. It can be either structured or blob. - `project`:  Project name in which the connector is - `credentials`:  The name of referenced credentials - `configuration`:  The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True. - `input_fields`:  A list of connector fields with name and data_type  #### Response Examples  ``` {   \"id\": \"662c326c-a560-4322-8ed3-1229224257c43\",   \"name\": \"s3-connector\",   \"type\": \"s3\",   \"input_type\": \"blob\",   \"project\": \"project-1\",   \"credentials\": \"s3-credentials\",   \"configuration\": {     \"bucket\": \"bucket-name\",     \"path_prefix\": \"blob\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_get(project_name, connector_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str connector_name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: ConnectorList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.connectors_get_with_http_info(project_name, connector_name, **kwargs)  # noqa: E501

    def connectors_get_with_http_info(self, project_name, connector_name, **kwargs):  # noqa: E501
        """Get connectors  # noqa: E501

         ### Description Get the details of a single connector  ### Response Structure Details of the connector - `id`:  Unique identifier for the connector (UUID) - `name`:  Name of the connector - `type`:  Type of the connector - `input_type`:  Type of the connector according to type field. It can be either structured or blob. - `project`:  Project name in which the connector is - `credentials`:  The name of referenced credentials - `configuration`:  The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True. - `input_fields`:  A list of connector fields with name and data_type  #### Response Examples  ``` {   \"id\": \"662c326c-a560-4322-8ed3-1229224257c43\",   \"name\": \"s3-connector\",   \"type\": \"s3\",   \"input_type\": \"blob\",   \"project\": \"project-1\",   \"credentials\": \"s3-credentials\",   \"configuration\": {     \"bucket\": \"bucket-name\",     \"path_prefix\": \"blob\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_get_with_http_info(project_name, connector_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str connector_name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(ConnectorList, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name', 'connector_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connectors_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `connectors_get`")  # noqa: E501
        # verify the required parameter 'connector_name' is set
        if self.api_client.client_side_validation and ('connector_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['connector_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `connector_name` when calling `connectors_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501
        if 'connector_name' in local_var_params:
            path_params['connector_name'] = local_var_params['connector_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/connectors/{connector_name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectorList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connectors_list(self, project_name, **kwargs):  # noqa: E501
        """List connectors  # noqa: E501

         ### Description List the connectors in a project.  ### Response Structure A list of details of the connectors in the project - `id`: Unique identifier for the connector (UUID) - `name`: Name of the connector - `type`: Type of the connector - `input_type`: Type of the connector according to type field. It can be either structured or blob. - `project`: Project name in which the connector is - `credentials`: The name of referenced credentials - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True. - `input_fields`: A list of connector fields with name and data_type  #### Response Examples ``` [   {     \"id\": \"662c326c-a560-4322-8ed3-1229224257c43\",     \"name\": \"s3-connector\",     \"type\": \"s3\",     \"input_type\": \"blob\",     \"project\": \"project-1\",     \"credentials\": \"s3-credentials\",     \"configuration\": {       \"bucket\": \"bucket-name\",       \"path_prefix\": \"blob\"     }   },   {     \"id\": \"e0342249-853c-4879-bd08-5cd1af572d7e\",     \"name\": \"postgresql-connector\",     \"type\": \"postgresql\",     \"input_type\": \"structured\",     \"project\": \"project-1\",     \"credentials\": \"postgresql-credentials\",     \"configuration\": {       \"database\": \"database-1\",       \"schema\": \"public\",       \"table\": \"table-1\"     },     \"input_fields\": [       {         \"name\": \"field-1\",         \"data_type\": \"int\"       },       {         \"name\": \"field-2\",         \"data_type\": \"double\"       }     ]   } ] ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_list(project_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[ConnectorList]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.connectors_list_with_http_info(project_name, **kwargs)  # noqa: E501

    def connectors_list_with_http_info(self, project_name, **kwargs):  # noqa: E501
        """List connectors  # noqa: E501

         ### Description List the connectors in a project.  ### Response Structure A list of details of the connectors in the project - `id`: Unique identifier for the connector (UUID) - `name`: Name of the connector - `type`: Type of the connector - `input_type`: Type of the connector according to type field. It can be either structured or blob. - `project`: Project name in which the connector is - `credentials`: The name of referenced credentials - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True. - `input_fields`: A list of connector fields with name and data_type  #### Response Examples ``` [   {     \"id\": \"662c326c-a560-4322-8ed3-1229224257c43\",     \"name\": \"s3-connector\",     \"type\": \"s3\",     \"input_type\": \"blob\",     \"project\": \"project-1\",     \"credentials\": \"s3-credentials\",     \"configuration\": {       \"bucket\": \"bucket-name\",       \"path_prefix\": \"blob\"     }   },   {     \"id\": \"e0342249-853c-4879-bd08-5cd1af572d7e\",     \"name\": \"postgresql-connector\",     \"type\": \"postgresql\",     \"input_type\": \"structured\",     \"project\": \"project-1\",     \"credentials\": \"postgresql-credentials\",     \"configuration\": {       \"database\": \"database-1\",       \"schema\": \"public\",       \"table\": \"table-1\"     },     \"input_fields\": [       {         \"name\": \"field-1\",         \"data_type\": \"int\"       },       {         \"name\": \"field-2\",         \"data_type\": \"double\"       }     ]   } ] ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_list_with_http_info(project_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[ConnectorList], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connectors_list" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `connectors_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/connectors', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ConnectorList]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def connectors_update(self, project_name, connector_name, data, **kwargs):  # noqa: E501
        """Update connectors  # noqa: E501

         ### Description When updating a connector, all necessary fields are validated again. It is not possible to update the type of a connector.  ### Optional Parameters - `name`: New name for the connector - `credentials`: A new credentials name to be referenced - `configuration`: A new dictionary with new values for credentials configuration. This dictionary may contain a subset of the necessary parameters for the credentials type. Only the given parameters is updated and the rest is kept at their old values. - `input_fields`: The old fields are changed with the new ones. If one or more old fields wanted to be kept for the connector, they must be provided again. In case an error occurs while creating the new fields, the connector will still have the old fields.  #### Request Examples ```  {   \"name\": \"new-connector-name\" } ```  ``` {   \"configuration\": {     \"bucket\": \"new-bucket-name\",     \"path_prefix\": \"new-blob\"   } } ```  ``` {   \"credentials\": \"new-credentials-name\" } ```  ``` {   \"input_fields\": [     {       \"name\": \"new-connector-field-1\",       \"data_type\": \"double\"     },     {       \"name\": \"new-connector-field-2\",       \"data_type\": \"array_int\"     }   ] } ```  ### Response Structure Details of the updated connector - `id`: Unique identifier for the connector (UUID) - `name`: Name of the connector - `type`: Type of the connector - `input_type`: Type of the connector according to type field. It can be either structured or blob. - `project`: Project name in which the connector is - `credentials`: The name of referenced credentials - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True. - `input_fields`: A list of connector fields with name and data_type  #### Response Examples ```  {   \"id\": \"662c326c-a560-4322-8ed3-1229224257c43\",   \"name\": \"new-s3-connector\",   \"type\": \"s3\",   \"input_type\": \"blob\",   \"project\": \"project-1\",   \"credentials\": \"s3-credentials\",   \"configuration\": {     \"bucket\": \"new-bucket-name\",     \"path_prefix\": \"blob\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_update(project_name, connector_name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str connector_name: (required)
        :param ConnectorUpdate data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: ConnectorList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.connectors_update_with_http_info(project_name, connector_name, data, **kwargs)  # noqa: E501

    def connectors_update_with_http_info(self, project_name, connector_name, data, **kwargs):  # noqa: E501
        """Update connectors  # noqa: E501

         ### Description When updating a connector, all necessary fields are validated again. It is not possible to update the type of a connector.  ### Optional Parameters - `name`: New name for the connector - `credentials`: A new credentials name to be referenced - `configuration`: A new dictionary with new values for credentials configuration. This dictionary may contain a subset of the necessary parameters for the credentials type. Only the given parameters is updated and the rest is kept at their old values. - `input_fields`: The old fields are changed with the new ones. If one or more old fields wanted to be kept for the connector, they must be provided again. In case an error occurs while creating the new fields, the connector will still have the old fields.  #### Request Examples ```  {   \"name\": \"new-connector-name\" } ```  ``` {   \"configuration\": {     \"bucket\": \"new-bucket-name\",     \"path_prefix\": \"new-blob\"   } } ```  ``` {   \"credentials\": \"new-credentials-name\" } ```  ``` {   \"input_fields\": [     {       \"name\": \"new-connector-field-1\",       \"data_type\": \"double\"     },     {       \"name\": \"new-connector-field-2\",       \"data_type\": \"array_int\"     }   ] } ```  ### Response Structure Details of the updated connector - `id`: Unique identifier for the connector (UUID) - `name`: Name of the connector - `type`: Type of the connector - `input_type`: Type of the connector according to type field. It can be either structured or blob. - `project`: Project name in which the connector is - `credentials`: The name of referenced credentials - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True. - `input_fields`: A list of connector fields with name and data_type  #### Response Examples ```  {   \"id\": \"662c326c-a560-4322-8ed3-1229224257c43\",   \"name\": \"new-s3-connector\",   \"type\": \"s3\",   \"input_type\": \"blob\",   \"project\": \"project-1\",   \"credentials\": \"s3-credentials\",   \"configuration\": {     \"bucket\": \"new-bucket-name\",     \"path_prefix\": \"blob\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.connectors_update_with_http_info(project_name, connector_name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str connector_name: (required)
        :param ConnectorUpdate data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(ConnectorList, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name', 'connector_name', 'data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method connectors_update" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `connectors_update`")  # noqa: E501
        # verify the required parameter 'connector_name' is set
        if self.api_client.client_side_validation and ('connector_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['connector_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `connector_name` when calling `connectors_update`")  # noqa: E501
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `connectors_update`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501
        if 'connector_name' in local_var_params:
            path_params['connector_name'] = local_var_params['connector_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/connectors/{connector_name}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ConnectorList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def credentials_create(self, project_name, data, **kwargs):  # noqa: E501
        """Create credentials  # noqa: E501

         ### Description  Create a new credentials by defining its necessary configuration parameters.  ### Required Parameters  - `name`: Name of the credentials. It is unique within a project.  - `type`: Type of the credentials. It should be one of the supported connectors such as s3, postgresql and gcs.  - `configuration`: A dictionary which should contain the fields necessary for the given type  #### Request Examples ``` {   \"name\": \"s3-credentials\",   \"type\": \"s3\",   \"configuration\": {     \"access_key\": \"access_key\",     \"secret_key\": \"secret_key\",     \"region\": \"eu-central-1\"   } } ```  ### Response Structure  Details of the created credentials  - `id`: Unique identifier for the credentials (UUID)  - `name`: Name of the credentials  - `project`: Project name in which the credentials is created  - `type`: Type of the credentials  - `reference_count`: The number of connectors using this credentials. It is initialised as 0 when it is created.  - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True.  #### Response Examples  ``` {   \"id\": \"da4da757-373c-4cab-948e-90ff4ab2e9c3\",   \"name\": \"s3-credentials\",   \"project\": \"project-1\",   \"type\": \"s3\",   \"reference_count\": 0,   \"configuration\": {     \"access_key\": null,     \"secret_key\": null,     \"region\": \"eu-central-1\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_create(project_name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param CredentialsCreate data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: CredentialsList
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.credentials_create_with_http_info(project_name, data, **kwargs)  # noqa: E501

    def credentials_create_with_http_info(self, project_name, data, **kwargs):  # noqa: E501
        """Create credentials  # noqa: E501

         ### Description  Create a new credentials by defining its necessary configuration parameters.  ### Required Parameters  - `name`: Name of the credentials. It is unique within a project.  - `type`: Type of the credentials. It should be one of the supported connectors such as s3, postgresql and gcs.  - `configuration`: A dictionary which should contain the fields necessary for the given type  #### Request Examples ``` {   \"name\": \"s3-credentials\",   \"type\": \"s3\",   \"configuration\": {     \"access_key\": \"access_key\",     \"secret_key\": \"secret_key\",     \"region\": \"eu-central-1\"   } } ```  ### Response Structure  Details of the created credentials  - `id`: Unique identifier for the credentials (UUID)  - `name`: Name of the credentials  - `project`: Project name in which the credentials is created  - `type`: Type of the credentials  - `reference_count`: The number of connectors using this credentials. It is initialised as 0 when it is created.  - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True.  #### Response Examples  ``` {   \"id\": \"da4da757-373c-4cab-948e-90ff4ab2e9c3\",   \"name\": \"s3-credentials\",   \"project\": \"project-1\",   \"type\": \"s3\",   \"reference_count\": 0,   \"configuration\": {     \"access_key\": null,     \"secret_key\": null,     \"region\": \"eu-central-1\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_create_with_http_info(project_name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param CredentialsCreate data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(CredentialsList, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name', 'data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credentials_create" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `credentials_create`")  # noqa: E501
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `credentials_create`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/credentials', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CredentialsList',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def credentials_delete(self, project_name, credentials_name, **kwargs):  # noqa: E501
        """Delete credentials  # noqa: E501

          ### Description  Delete a credentials. If there is a reference to the credentials from a connector, it is __not possible to delete__ the credentials. The reference should be removed first.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_delete(project_name, credentials_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str credentials_name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.credentials_delete_with_http_info(project_name, credentials_name, **kwargs)  # noqa: E501

    def credentials_delete_with_http_info(self, project_name, credentials_name, **kwargs):  # noqa: E501
        """Delete credentials  # noqa: E501

          ### Description  Delete a credentials. If there is a reference to the credentials from a connector, it is __not possible to delete__ the credentials. The reference should be removed first.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_delete_with_http_info(project_name, credentials_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str credentials_name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name', 'credentials_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credentials_delete" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `credentials_delete`")  # noqa: E501
        # verify the required parameter 'credentials_name' is set
        if self.api_client.client_side_validation and ('credentials_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['credentials_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `credentials_name` when calling `credentials_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501
        if 'credentials_name' in local_var_params:
            path_params['credentials_name'] = local_var_params['credentials_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/credentials/{credentials_name}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def credentials_get(self, project_name, credentials_name, **kwargs):  # noqa: E501
        """Get credentials  # noqa: E501

         ### Description  Get the details of a single credentials  ### Response Structure  Details of the credentials  - `id`: Unique identifier for the credentials (UUID)  - `name`: Name of the credentials  - `project`: Project name in which the credentials is  - `type`: Type of the credentials  - `reference_count`: The number of connectors using the credentials  - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True.  #### Response Examples ``` {    \"id\": \"e07b3715-71c9-4a49-a8e5-179cf4778086\",   \"name\": \"postgresql-credentials\",   \"project\": \"project-1\",   \"type\": \"postgresql\",   \"reference_count\": 2,   \"configuration\": {     \"username\": \"user\",     \"password\": null,     \"host\": \"host\",     \"port\": \"1234\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_get(project_name, credentials_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str credentials_name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: CredentialsListWithConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.credentials_get_with_http_info(project_name, credentials_name, **kwargs)  # noqa: E501

    def credentials_get_with_http_info(self, project_name, credentials_name, **kwargs):  # noqa: E501
        """Get credentials  # noqa: E501

         ### Description  Get the details of a single credentials  ### Response Structure  Details of the credentials  - `id`: Unique identifier for the credentials (UUID)  - `name`: Name of the credentials  - `project`: Project name in which the credentials is  - `type`: Type of the credentials  - `reference_count`: The number of connectors using the credentials  - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True.  #### Response Examples ``` {    \"id\": \"e07b3715-71c9-4a49-a8e5-179cf4778086\",   \"name\": \"postgresql-credentials\",   \"project\": \"project-1\",   \"type\": \"postgresql\",   \"reference_count\": 2,   \"configuration\": {     \"username\": \"user\",     \"password\": null,     \"host\": \"host\",     \"port\": \"1234\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_get_with_http_info(project_name, credentials_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str credentials_name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(CredentialsListWithConfig, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name', 'credentials_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credentials_get" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `credentials_get`")  # noqa: E501
        # verify the required parameter 'credentials_name' is set
        if self.api_client.client_side_validation and ('credentials_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['credentials_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `credentials_name` when calling `credentials_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501
        if 'credentials_name' in local_var_params:
            path_params['credentials_name'] = local_var_params['credentials_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/credentials/{credentials_name}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CredentialsListWithConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def credentials_list(self, project_name, **kwargs):  # noqa: E501
        """List credentials  # noqa: E501

          ### Description List all the sets of credentials in a project.  ### Response Structure:  A list of details of the credentials in the project - `id`: Unique identifier for the credentials (UUID) - `name`: Name of the credentials - `project`: Project name in which the credentials is - `type`: Type of the credentials - `reference_count`: The number of connectors using the credentials - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True.  #### Response Examples  ``` [   {     \"id\": \"da4da757-373c-4cab-948e-90ff4ab2e9c3\",     \"name\": \"s3-credentials\",     \"project\": \"project-1\",     \"type\": \"s3\",     \"reference_count\": 1,     \"configuration\": {       \"access_key\": null,       \"secret_key\": null,       \"region\": \"eu-central-1\"     }   },   {     \"id\": \"e07b3715-71c9-4a49-a8e5-179cf4778086\",     \"name\": \"postgresql-credentials\",     \"project\": \"project-1\",     \"type\": \"postgresql\",     \"reference_count\": 2,     \"configuration\": {       \"username\": \"user\",       \"password\": null,       \"host\": \"host\",       \"port\": \"1234\"     }   } ] ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_list(project_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[CredentialsList]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.credentials_list_with_http_info(project_name, **kwargs)  # noqa: E501

    def credentials_list_with_http_info(self, project_name, **kwargs):  # noqa: E501
        """List credentials  # noqa: E501

          ### Description List all the sets of credentials in a project.  ### Response Structure:  A list of details of the credentials in the project - `id`: Unique identifier for the credentials (UUID) - `name`: Name of the credentials - `project`: Project name in which the credentials is - `type`: Type of the credentials - `reference_count`: The number of connectors using the credentials - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True.  #### Response Examples  ``` [   {     \"id\": \"da4da757-373c-4cab-948e-90ff4ab2e9c3\",     \"name\": \"s3-credentials\",     \"project\": \"project-1\",     \"type\": \"s3\",     \"reference_count\": 1,     \"configuration\": {       \"access_key\": null,       \"secret_key\": null,       \"region\": \"eu-central-1\"     }   },   {     \"id\": \"e07b3715-71c9-4a49-a8e5-179cf4778086\",     \"name\": \"postgresql-credentials\",     \"project\": \"project-1\",     \"type\": \"postgresql\",     \"reference_count\": 2,     \"configuration\": {       \"username\": \"user\",       \"password\": null,       \"host\": \"host\",       \"port\": \"1234\"     }   } ] ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_list_with_http_info(project_name, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[CredentialsList], status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credentials_list" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `credentials_list`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/credentials', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[CredentialsList]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def credentials_update(self, project_name, credentials_name, data, **kwargs):  # noqa: E501
        """Update credentials  # noqa: E501

          ### Description Update a credentials. It is not possible to update the type of a credentials. All necessary fields are validated again.  ### Optional Parameters   - `name`: New name for the credentials  - `configuration`: A new dictionary with new values for credentials configuration. This dictionary may contain a subset of the necessary parameters for the credentials type. Only the given parameters is updated and the rest is kept at their old values.  #### Request Examples ``` {   \"name\": \"new-credentials-name\" } ```  ``` {   \"configuration\": {     \"username\": \"new_user\",     \"password\": \"new_secret_password\",     \"host\": \"new_host\",     \"port\": \"1234\"   } } ```  ### Response Structure  Details of the updated credentials  - `id`: Unique identifier for the credentials (UUID)  - `name`: Name of the credentials  - `project`: Project name in which the credentials is  - `type`: Type of the credentials  - `reference_count`: The number of connectors using the credentials  - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True.  #### Response Examples ``` {    \"id\": \"e07b3715-71c9-4a49-a8e5-179cf4778086\",   \"name\": \"postgresql-credentials\",   \"project\": \"project-1\",   \"type\": \"postgresql\",   \"reference_count\": 2,   \"configuration\": {     \"username\": \"new_user\",     \"password\": null,     \"host\": \"new_host\",     \"port\": \"1234\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_update(project_name, credentials_name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str credentials_name: (required)
        :param CredentialsUpdate data: (required)
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: CredentialsListWithConfig
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.credentials_update_with_http_info(project_name, credentials_name, data, **kwargs)  # noqa: E501

    def credentials_update_with_http_info(self, project_name, credentials_name, data, **kwargs):  # noqa: E501
        """Update credentials  # noqa: E501

          ### Description Update a credentials. It is not possible to update the type of a credentials. All necessary fields are validated again.  ### Optional Parameters   - `name`: New name for the credentials  - `configuration`: A new dictionary with new values for credentials configuration. This dictionary may contain a subset of the necessary parameters for the credentials type. Only the given parameters is updated and the rest is kept at their old values.  #### Request Examples ``` {   \"name\": \"new-credentials-name\" } ```  ``` {   \"configuration\": {     \"username\": \"new_user\",     \"password\": \"new_secret_password\",     \"host\": \"new_host\",     \"port\": \"1234\"   } } ```  ### Response Structure  Details of the updated credentials  - `id`: Unique identifier for the credentials (UUID)  - `name`: Name of the credentials  - `project`: Project name in which the credentials is  - `type`: Type of the credentials  - `reference_count`: The number of connectors using the credentials  - `configuration`: The dictionary which contains the fields necessary for the given type with provided values. Values are not shown in response if the parameter has the protected field True.  #### Response Examples ``` {    \"id\": \"e07b3715-71c9-4a49-a8e5-179cf4778086\",   \"name\": \"postgresql-credentials\",   \"project\": \"project-1\",   \"type\": \"postgresql\",   \"reference_count\": 2,   \"configuration\": {     \"username\": \"new_user\",     \"password\": null,     \"host\": \"new_host\",     \"port\": \"1234\"   } } ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.credentials_update_with_http_info(project_name, credentials_name, data, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str credentials_name: (required)
        :param CredentialsUpdate data: (required)
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(CredentialsListWithConfig, status_code(int), headers(HTTPHeaderDict))
                 If the method is called asynchronously,
                 returns the request thread.
        """

        local_var_params = locals()

        all_params = ['project_name', 'credentials_name', 'data']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        for key, val in six.iteritems(local_var_params['kwargs']):
            if key not in all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method credentials_update" % key
                )
            local_var_params[key] = val
        del local_var_params['kwargs']
        # verify the required parameter 'project_name' is set
        if self.api_client.client_side_validation and ('project_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['project_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `project_name` when calling `credentials_update`")  # noqa: E501
        # verify the required parameter 'credentials_name' is set
        if self.api_client.client_side_validation and ('credentials_name' not in local_var_params or  # noqa: E501
                                                        local_var_params['credentials_name'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `credentials_name` when calling `credentials_update`")  # noqa: E501
        # verify the required parameter 'data' is set
        if self.api_client.client_side_validation and ('data' not in local_var_params or  # noqa: E501
                                                        local_var_params['data'] is None):  # noqa: E501
            raise ApiValueError("Missing the required parameter `data` when calling `credentials_update`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_name' in local_var_params:
            path_params['project_name'] = local_var_params['project_name']  # noqa: E501
        if 'credentials_name' in local_var_params:
            path_params['credentials_name'] = local_var_params['credentials_name']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'data' in local_var_params:
            body_params = local_var_params['data']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{project_name}/credentials/{credentials_name}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='CredentialsListWithConfig',  # noqa: E501
            auth_settings=auth_settings,
            async_req=local_var_params.get('async_req'),
            _return_http_data_only=local_var_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=local_var_params.get('_preload_content', True),
            _request_timeout=local_var_params.get('_request_timeout'),
            collection_formats=collection_formats)

    def metrics_get(self, project_name, metric, start_time, end_time, object_type, **kwargs):  # noqa: E501
        """Get metrics  # noqa: E501

         ### Description  Get metrics for the project or a specified object  ### Required Parameters   - `start_time`: Starting time for the metric values to be returned. It should be provided in datetime isoformat.  - `end_time`: Ending time for the metric values to be returned. It should be provided in datetime isoformat.  - `object_type`: The type of the object for which the metrics are requested. It can be either `model_version`, `connector` or `pipeline`.  ### Optional Parameters   - `interval`: Interval for the metric value. It can be minute, hour, day or month. The metric values will be aggregated according to this interval. The default value is hour.  - `object_id`: Uuid of the specific object for which the metrics are requested. When it is not provided, the metrics are aggregated for the given `object_type`.  ### Response Structure   - `start_time`: Timestamp denoting the start of the period over which the metric was measured  - `end_time`: Timestamp denoting the end of the period over which the metric was measured  - `value`: Aggregated metric value for the given unit  #### Response Examples With unit as minute, start_time as 2019-11-13 12:00:00 and end_time as 2019-11-13 12:03:00 ``` [   {     \"start_time\": \"2019-11-13T12:00:00+00:00\",     \"end_time\": \"2019-11-13T12:01:00+00:00\",     \"value\": 100   },   {     \"start_time\": \"2019-11-13T12:01:00+00:00\",     \"end_time\": \"2019-11-13T12:02:00+00:00\",     \"value\": 134   },   {     \"start_time\": \"2019-11-13T12:02:00+00:00\",     \"end_time\": \"2019-11-13T12:03:00+00:00\",     \"value\": 112   } ]  ```  With unit as hour, start_time as 2019-11-13 12:00:00 and end_time as 2019-11-13 14:00:00 ``` [   {    \"start_time\": \"2019-11-13T12:00:00+00:00\",    \"end_time\": \"2019-11-13T13:00:00+00:00\",    \"value\": 92   },   {     \"start_time\": \"2019-11-13T13:00:00+00:00\",     \"end_time\": \"2019-11-13T14:00:00+00:00\",     \"value\": 120   },   {     \"start_time\": \"2019-11-13T14:00:00+00:00\",     \"end_time\": \"2019-11-13T15:00:00+00:00\",     \"value\": 0   } ] ```   With unit as day, start_time as 2019-11-13 12:00:00 and end_time as 2019-11-14 12:00:00 ``` [   {    \"start_time\": \"2019-11-13T00:00:00+00:00\",    \"end_time\": \"2019-11-14T00:00:00+00:00\",    \"value\": 528   },   {     \"start_time\": \"2019-11-14T00:00:00+00:00\",     \"end_time\": \"2019-11-15T00:00:00+00:00\",     \"value\": 342   } ] ```   With unit as month, start_time as 2019-11-13 12:00:00 and end_time as 2019-12-13 12:00:00 ``` [   {    \"start_time\": \"2019-11-01T00:00:00+00:00\",    \"end_time\": \"2019-12-01T00:00:00+00:00\",    \"value\": 1983   } ] ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.metrics_get(project_name, metric, start_time, end_time, object_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str metric: (required)
        :param str start_time: (required)
        :param str end_time: (required)
        :param str object_type: (required)
        :param str interval:
        :param str object_id:
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: list[Metrics]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        return self.metrics_get_with_http_info(project_name, metric, start_time, end_time, object_type, **kwargs)  # noqa: E501

    def metrics_get_with_http_info(self, project_name, metric, start_time, end_time, object_type, **kwargs):  # noqa: E501
        """Get metrics  # noqa: E501

         ### Description  Get metrics for the project or a specified object  ### Required Parameters   - `start_time`: Starting time for the metric values to be returned. It should be provided in datetime isoformat.  - `end_time`: Ending time for the metric values to be returned. It should be provided in datetime isoformat.  - `object_type`: The type of the object for which the metrics are requested. It can be either `model_version`, `connector` or `pipeline`.  ### Optional Parameters   - `interval`: Interval for the metric value. It can be minute, hour, day or month. The metric values will be aggregated according to this interval. The default value is hour.  - `object_id`: Uuid of the specific object for which the metrics are requested. When it is not provided, the metrics are aggregated for the given `object_type`.  ### Response Structure   - `start_time`: Timestamp denoting the start of the period over which the metric was measured  - `end_time`: Timestamp denoting the end of the period over which the metric was measured  - `value`: Aggregated metric value for the given unit  #### Response Examples With unit as minute, start_time as 2019-11-13 12:00:00 and end_time as 2019-11-13 12:03:00 ``` [   {     \"start_time\": \"2019-11-13T12:00:00+00:00\",     \"end_time\": \"2019-11-13T12:01:00+00:00\",     \"value\": 100   },   {     \"start_time\": \"2019-11-13T12:01:00+00:00\",     \"end_time\": \"2019-11-13T12:02:00+00:00\",     \"value\": 134   },   {     \"start_time\": \"2019-11-13T12:02:00+00:00\",     \"end_time\": \"2019-11-13T12:03:00+00:00\",     \"value\": 112   } ]  ```  With unit as hour, start_time as 2019-11-13 12:00:00 and end_time as 2019-11-13 14:00:00 ``` [   {    \"start_time\": \"2019-11-13T12:00:00+00:00\",    \"end_time\": \"2019-11-13T13:00:00+00:00\",    \"value\": 92   },   {     \"start_time\": \"2019-11-13T13:00:00+00:00\",     \"end_time\": \"2019-11-13T14:00:00+00:00\",     \"value\": 120   },   {     \"start_time\": \"2019-11-13T14:00:00+00:00\",     \"end_time\": \"2019-11-13T15:00:00+00:00\",     \"value\": 0   } ] ```   With unit as day, start_time as 2019-11-13 12:00:00 and end_time as 2019-11-14 12:00:00 ``` [   {    \"start_time\": \"2019-11-13T00:00:00+00:00\",    \"end_time\": \"2019-11-14T00:00:00+00:00\",    \"value\": 528   },   {     \"start_time\": \"2019-11-14T00:00:00+00:00\",     \"end_time\": \"2019-11-15T00:00:00+00:00\",     \"value\": 342   } ] ```   With unit as month, start_time as 2019-11-13 12:00:00 and end_time as 2019-12-13 12:00:00 ``` [   {    \"start_time\": \"2019-11-01T00:00:00+00:00\",    \"end_time\": \"2019-12-01T00:00:00+00:00\",    \"value\": 1983   } ] ```   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.metrics_get_with_http_info(project_name, metric, start_time, end_time, object_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool: execute request asynchronously
        :param str project_name: (required)
        :param str metric: (required)
        :param str start_time: (required)
        :param str end_time: (required)
        :param str object_type: (required)
        :param str interval:
        :param str object_id:
        :param _return_http_data_only: response data without head status code
                                       and headers
        :param _preload_content: if False, the urllib3.HTTPResponse object will
                                 be returned without reading/decoding response
                                 data. Default is True.
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :return: tuple(list[Metrics], status_code(int), headers(HTTPHeaderDict))
[...]
